table{
	border-collapse: collapse;
}
body{
    background-color: aqua;
}
.diri{
    width: 800px;
    margin: auto;
}
.table{
    font-size: 20px;
    width: 800px;
    margin: auto;
    
}
.table td{
	font-size: 25px;
	border: 2px solid black;
}
.table1 {
    width: 800px;
	margin: auto;
}
.table1 td{
	font-size: 25px;
	border: 2px solid black;
}
.table2 {
    width: 800px;
	margin: auto;
}
.table2 th{
	text-align: center;
	font-size: 32px;
	border-collapse: collapse;
	border: 2px solid black;
}
.table2 td{
	font-size: 25px;
	border: 2px solid black;
	border-collapse: collapse;
}
